@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body{
    font-family: "Sniglet", system-ui;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    width: 100vw;
}

h1{
    font-size: 4.5vw;
    margin: 2vw -10vw 3vw;
    transition: 0.7s;
}