@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body{
    font-family: "Sniglet", system-ui;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    width: 100vw;
}

.title{
    font-size: 4.5vw;
    margin: 2vw -10vw 3vw;
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}
.sub-title{
    font-size: 2vw;
    margin: 5vw 5vw;
    transition: 1.5s;
    transition-delay: 0.5s;
    opacity: 0;
}