@import url('https://fonts.googleapis.com/css2?family=Sniglet:wght@400;800&display=swap');

body{
    font-family: "Sniglet", system-ui;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
    width: 100vw;
}

.title{
    font-size: 4.5vw;
    margin: 2vw -10vw 3vw;
    transition: 0.7s;
    transition-delay: 0.3s;
    opacity: 0;
}
.sub-title{
    font-size: 1.5vw;
    font-style: italic;
    color: grey;
    margin: 5vw 5vw;
    transition: 1.5s;
    transition-delay: 0.5s;
    opacity: 0;
}
.baseNav{
    margin-top: 2vw;
}
.baseNav > li > a{
    font-size: 2vw;
    margin: 0 1vw;
    color: black;
    transition: 0.7s;
    border: solid 0.5vw #8ee7c200;
    border-radius: 3vw;
}

.baseNav > li > a:hover, .nav-link:hover{
    font-size: 1.8vw;
    margin: 0 0.7vw;    
    color: #8ec3e7;
    border-bottom: solid 0.5vw #8ee7c2;
    border-radius: 0;
}

.navbar-brand>img{
    width: 3vw;
}

#navbar{
    background: #8930e9fb;
    z-index: 2;
    height: 6vw;
    width: 100vw;
    position: fixed;
    margin-top: -4vw;
    transition: 0.7s;
}
.nav-link{
    color: aliceblue;
    font-size: 2vw;
    margin: 0 1vw;
    transition: 0.7s;
    border: solid 0.5vw #8ee7c200;
    border-radius: 3vw;
}


.nav-headers > li{
    font-size: 1vw;
}

.navbar-text > ul > li{
    margin: 0 0.3vw;
}

.nav-end{
    margin: 0 2vw;
}
.nav-end > ul > li > a > img{
    width: 2vw;
    border-radius: 0.3vw;
    margin: 0 0.5vw;
}

#zuxi{
    height: 38vw;
}

#about{
    background: #08011b;
    color: aliceblue;
    border-radius: 5vw 0 0 0;
    padding: 2vw;
    font-size: 1.5vw;
}
#about > h2{
    font-size: 5vw;
}
#about > img{
    width: 25vw;
    border: 1vw solid;
    margin-bottom: 5vw;
    border-radius: 20vw;
}
#about > a{
    text-decoration: none;
    border: 0.3vw solid aliceblue;
    border-radius: 2vw;
    padding: 2vw;
    width: 22vw;
    margin: 4vw auto;
    display: block;
    color: aliceblue;
    transition: 0.7s;
    font-size: 2vw;
}
#about > a:hover{
    background: #8930e9fb;
    width: 30vw;
}